
.DS_Store

*.iml
client/.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
client/.gradle

*.iml
server/.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
server/.gradle

server/local.properties
client/local.properties